In [1]:
dict1 = {'Name' : 'Karan', 'Enrollment no' : '200280107036', 'Semester' : 5}
dict2 = {'Name' : 'Karika', 'Enrollment no' : '200280107047', 'Semester' : 5}
dict3 = {'Name' : 'Zeel', 'Enrollment no' : '200280107070', 'Semester' : 5}

In [2]:
l = [dict1, dict2, dict3]

In [3]:
print(l)

[{'Name': 'Karan', 'Enrollment no': '200280107036', 'Semester': 5}, {'Name': 'Karika', 'Enrollment no': '200280107047', 'Semester': 5}, {'Name': 'Zeel', 'Enrollment no': '200280107070', 'Semester': 5}]

In [4]:
l.sort('Enrollment no')

TypeError: sort() takes no positional arguments

In [5]:
l.sort()

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [6]:
l.sort(l['Enrollment no'])

TypeError: list indices must be integers or slices, not str

In [7]:
print(sorted(l, key=lambda i: i['Enrollment no']))

[{'Name': 'Karan', 'Enrollment no': '200280107036', 'Semester': 5}, {'Name': 'Karika', 'Enrollment no': '200280107047', 'Semester': 5}, {'Name': 'Zeel', 'Enrollment no': '200280107070', 'Semester': 5}]

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(l)

In [10]:
df

     Name Enrollment no  Semester
0   Karan  200280107036         5
1  Karika  200280107047         5
2    Zeel  200280107070         5

In [11]:
print(df)

     Name Enrollment no  Semester
0   Karan  200280107036         5
1  Karika  200280107047         5
2    Zeel  200280107070         5

In [12]:
dict1

{'Name': 'Karan', 'Enrollment no': '200280107036', 'Semester': 5}

In [13]:
l

[{'Name': 'Karan', 'Enrollment no': '200280107036', 'Semester': 5},
 {'Name': 'Karika', 'Enrollment no': '200280107047', 'Semester': 5},
 {'Name': 'Zeel', 'Enrollment no': '200280107070', 'Semester': 5}]